! Configuration File for keepalived
global_defs {
	router_id {{ CLUSTER_NAME }}
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_{{ CLUSTER_NAME }}_1 {
{% if 'primary-master' in group_names %}
    state MASTER
{% else %}
    state BACKUP
{% endif %}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 97
{% if 'primary-master' in group_names %}
    priority 101
{% else %}
    priority 100
{% endif %}
    authentication {
        auth_type PASS
        auth_pass e1{{ CLUSTER_NAME }}483e10ad1d
    }
    virtual_ipaddress {
        {{ custom.networking.masterha_ip }}
    }
    track_script {
        check_apiserver
    }
}
