apiVersion: "kubeadm.k8s.io/v1alpha3"
kubernetesVersion: v{{ KUBERNETES_VERSION }}
kind: ClusterConfiguration
etcd:
  local:
    serverCertSANs:
    - "{{ hostvars[etcdnode]['ansible_default_ipv4']['address'] }}"
    - "{{ hostvars[etcdnode]['ansible_fqdn'] }}"
    - "{{ hostvars[etcdnode]['inventory_hostname_short'] }}"
    peerCertSANs:
    - "{{ hostvars[etcdnode]['ansible_default_ipv4']['address'] }}"
    - "{{ hostvars[etcdnode]['ansible_fqdn'] }}"
    - "{{ hostvars[etcdnode]['inventory_hostname_short'] }}"
    extraArgs:
      initial-cluster-state: new
      name: {{ hostvars[etcdnode]['inventory_hostname'] }}
      listen-peer-urls: https://{{ hostvars[etcdnode]['ansible_default_ipv4']['address'] }}:2380
      listen-client-urls: https://{{ hostvars[etcdnode]['ansible_default_ipv4']['address'] }}:2379
      advertise-client-urls: https://{{ hostvars[etcdnode]['ansible_default_ipv4']['address'] }}:2379,https://{{ hostvars[etcdnode]['ansible_fqdn'] }}:2379
      initial-advertise-peer-urls: https://{{ hostvars[etcdnode]['ansible_default_ipv4']['address'] }}:2380,https://{{ hostvars[etcdnode]['ansible_fqdn'] }}:2380
      initial-cluster: {% for host in groups['etcd'] %}{{ hostvars[host]['inventory_hostname'] }}=https://{{ hostvars[host]['ansible_fqdn'] }}:2380,{{ hostvars[host]['inventory_hostname'] }}=https://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}
