---
  - name: tainting as per taint_for_label mapping
    environment:
      KUBECONFIG: /etc/kubernetes/admin.conf
    shell: 'kubectl taint nodes --selector {{ item.label }} {{ item.label }}:{{ item.taint }} --overwrite'
    with_items: "{{ taint_for_label }}"
    when:
    - groups['all'] | length > 1
    tags:
    - taint

  - block:
    - name: get name of primary_master when single node cluster
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      shell: 'kubectl get no -o=jsonpath="{.items[0].metadata.name}"'
      register: result_primary_master_name
  
    - name: when cluster is one machine only, remove NoSchedule taint from master
      ## TODO: Use InitConfiguration to remove the taint on master, with the same condition.
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      shell: 'kubectl taint nodes {{ result_primary_master_name.stdout_lines[0] }} {{ item }} --overwrite'
      with_items: #'{{ taints_master }}'
      - 'node-role.kubernetes.io/master:NoSchedule-'
      - 'node-role.kubernetes.io/master=:PreferNoSchedule'
      - 'node-role.kubernetes.io/infra=:PreferNoSchedule'
      ignore_errors: yes
      tags:
      - taints
    when:
    - groups['all'] | length == 1
    tags:
    - taints

