apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: rook-block
provisioner: rook.io/block
parameters:
  {{ rook.rbd.storageclass_parameters | to_yaml | indent(2) }}

  # as per https://github.com/rook/rook/blob/master/demo/kubernetes/rook-storageclass.yaml
  #pool: replicapool
  # Specify the Rook cluster from which to create volumes. If not specified, it will use `rook` as the namespace and name of the cluster.
  # clusterName: rook
  # clusterNamespace: rook

