#https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1
ClusterConfiguration:
  apiVersion: kubeadm.k8s.io/v1beta1
  apiServer:
    timeoutForControlPlane: 4m0s
    apiServerExtraArgs: # https://kubernetes.io/docs/admin/kube-apiserver/
      endpoint-reconciler-type: "lease"  # needs k8s 1.9+ More info: https://kubernetes.io/docs/admin/high-availability/building/#endpoint-reconciler
      service-node-port-range: '79-32767' #Default 32000-32767 ; Ensure the local ports on all nodes are set accordingly
  #   auditPolicy:
  #     logDir: /var/log/kubernetes/audit
  #     logMaxAge: 2
  #     path: ""
  # certificatesDir: /etc/kubernetes/pki
  # clusterName: kubernetes
  clusterName: "{{ CLUSTER_NAME }}"
  # controlPlaneEndpoint: ""
  # etcd:
  #   local:
  #     serverCertSANs:
  #     - "10.33.46.215"
  #     extraArgs:
  #       cipher-suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
  #     dataDir: /var/lib/etcd
  #     image: ""
  imageRepository: '{{ images_repo | default ("k8s.gcr.io") }}'
  kind: ClusterConfiguration
  kubernetesVersion: "v{{ KUBERNETES_VERSION }}"
  # dns:
  #   type: CoreDNS
  networking:
  #   dnsDomain: cluster.local
  #   serviceSubnet: 10.96.0.0/12
  #   podSubnet: ""
    podSubnet: "{{ POD_NETWORK_CIDR }}"
    #podSubnet: '10.244.0.0/16'  # Exactly this one is required when Flannel network is used. If you other network solutions, commented out this entry.
    #podSubnet: '192.168.0.0/16'  # Exactly this one is required when Calico network is used. If you other network solutions, this entry can be commented out.
    #podSubnet: '10.32.0.0/12'  # Exactly this one is required when Weave network is used (with defaults). If you other network solutions, this entry can be commented out.
  # useHyperKubeImage: True 
  #cloudProvider: 'vsphere' # WE NEED THIS Even after 1.11 (v1alpha2) (due to a bug in ansible on vars with "-"); this is also required: govc vm.change -e="disk.enableUUID=1" -vm=<machines> and requires setup of cloud_config below
  # controllerManager:
  #   controllerManagerExtraArgs: # https://kubernetes.io/docs/admin/kube-controller-manager/
  #     pod-eviction-timeout: '3m00s' # Default 5m0s #PodEvictionTimeout controls grace peroid for deleting pods on failed nodes.  Takes time duration string (e.g. '300ms' or '2m30s').  Valid time units are 'ns', 'us', 'ms', 's', 'm', 'h'.
  #     <argument>: <value|string>


