#https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2?tab=doc#InitConfiguration
#check latest api ver here: https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis #/kubeadm?tab=subdirectories
InitConfiguration:
  kind: InitConfiguration
  localAPIEndpoint:
  #  advertiseAddress: 1.2.3.4
  #  bindPort: 6443
  apiVersion: kubeadm.k8s.io/v1beta3
  # bootstrapTokens:
  # - groups:
  #   - system:bootstrappers:kubeadm:default-node-token
  #   token: abcdef.0123456789abcdef
  #   ttl: 24h0m0s
  #   usages:
  #   - signing
  #   - authentication
  nodeRegistration:
  #   criSocket: unix:///var/run/dockershim.sock
  #   criSocket: unix:///var/run/crio/crio.sock
  #   criSocket: unix:///run/cri-dockerd.sock  # https://github.com/Mirantis/cri-dockerd
    criSocket: unix:///var/run/containerd/containerd.sock
  #   name: <your_master_node_name>
    taints:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
    # kubeletExtraArgs:
    #   cgroupDriver: "cgroupfs"
