#https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3?tab=doc#JoinConfiguration
#check latest api ver here: https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm?tab=subdirectories
JoinConfiguration:
#  controlPlane: # define controlPlane section only in secondary-masters; not required in minions.
#    localAPIEndpoint:
#      advertiseAddress: <your_address>
#      bindPort: 6443
  apiVersion: kubeadm.k8s.io/v1beta3
  # caCertPath: /etc/kubernetes/pki/ca.crt
  # discovery:
  #   bootstrapToken:
  #     apiServerEndpoint: 10.1.2.3:6443
  #     token: abcdef.0123456789abcdef
  #     unsafeSkipCAVerification: true
  #   timeout: 5m0s
  #   tlsBootstrapToken: abcdef.0123456789abcdef
  #   file: #either file or tlsBootstrapToken
  kind: JoinConfiguration
  # nodeRegistration:
  #   criSocket: /var/run/dockershim.sock
  #   name: <your_master_node_name>
  # skipPhases: 
  # patches:
