apiVersion: v1
kind: Secret
metadata:
 name: "{{ cloud_config_vsphere_specific.secret_name }}"
 namespace: "{{ cloud_config_vsphere_specific.secret_namespace }}"
type: Opaque
data:
   {{ cloud_config_vsphere_specific.server }}.username: {{ cloud_config_vsphere_specific.username | b64encode }}
   {{ cloud_config_vsphere_specific.server }}.password: {{ cloud_config_vsphere_specific.password | b64encode }}

